body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

nav ul li {
    margin: 0 15px;

}

nav ul li:hover {
    text-decoration: underline;
    font-weight: bold;
    
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color:rgba(0,0,0,0.4);
    border-radius: 30px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

form input,
form textarea,
form button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.profile {
    padding-top: 20px;

    margin: auto;
    display: block;
}

.select {
    text-decoration: underline;
    font-weight: bold;
}

.bg-image {
    background-image: url("media/background-image.jpg");
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body,
html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

.bg-text {
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 40%;
    padding: 20px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.overlay {
    color: white;
    font-weight: bold;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 40%;
    height: 850px;
}

.anchor {
    color: white;
}